@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: #000000;
}
a{
    text-decoration: none;
    color: #000000;
}
li {
    list-style: none;
}
img{
    width: 100%;
    vertical-align: top;
}
#wrap {
    width: 100%;
    background-color: #ffffff;
    /* padding: 0 45px 0 45px; */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
/* header */
#header {
    width: 100%;
    background-color: #ffffff;
    display: flex;
}
#header .logo {
    width: 12%;
    height: 100px;
    background-color: #ffffff;
}
#header .logo a {
    display: block;
    width: 55px;
    margin-left: 45px;
    margin-top: 12px;
    padding: 10px;
}
#header .nav {
    width: 88%;
    height: 100px;
    /* background-color: #ec8e5f; */
}
#header .nav > ul {
    display: flex;
    justify-content: left;
    margin-top: 35px;
}
#header .nav > ul > li > a {
    display: inline-block;
    padding: 5px 30px;
}
#header .nav > ul > li > a:hover {
    color: #f22d33;
    font-weight: 600;
}

/* slider */
#slider {
    width: 100%;
    height: 700px;
    background: linear-gradient(to right, #d4d4d4, #ececec);
    position: relative;
}
#slider .mainimg {
    background-image: url(../images/sang.png);
    background-size: cover;
    position: absolute;
    margin-left: 130px;
    left: 50%;
    top: 50%;
    transform: translateY(-250px);
    width: 330px;
    height: 600px;
    display: flex;
    /* overflow: hidden; */
    box-sizing: border-box;
}
#slider .text {
    margin-top: 150px;
}
#slider .text p {
    margin-left: 205px;
    font-family: NanumSquare;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -1px;
}
#slider .text h2 {
    margin-top: 10px;
    margin-left: 200px;
    font-family: NanumSquare;
    font-weight: 900;
    font-size: 55px;
}
#slider .text h1 {
    margin-top: 5px;
    margin-left: 190px;
    font-family: NanumSquare;
    font-weight: 900;
    font-size: 190px;
    letter-spacing: 1px;
    color: #fff;
  
}
#slider .btn {
    align-items: center;
} 
#slider .btn a {
    margin-top: 50px;
    margin-left: 200px;
    background-color: #f22d33;
    padding: 10px 35px;
    border-radius: 20px;
    display: inline-block;
    color: #fff;
    font-family: NanumBarunGothic;
}
#slider .btn span {
    color: #fff;
    font-size: 13px;
}

/* content1 */
#contents1 {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    display: flex;
    /* margin-top: 50px; */
}
/* content1-1 */
#contents1 .contents1-1 {
    width: 28%;
    height: 300px;
    background: #000000b5 url(/images/content-free5.jpg);
    background-size: cover;
}

#contents1 .conbox {
    width: 100%;
    height: 100%;
    background-color: #00000099;
    position: relative;
}
#contents1 .conbox:hover {
    background-color: #0000007d;
}
#contents1 .conbox p {
    margin-left: 30px;
    margin-top: 50px;
    color: #fff;
    display: inline-block;
}
#contents1 .conbox h3 {
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
    display: block;
    font-size: 23px;
}
#contents1 .icon {
    display: flex;
    position: absolute;
    left: 68%;
    top: 50%;
    transform: translateY(110px);

}
#contents1 .icon span {
    color: #fff;
}
#contents1 .icon img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: -6px;
}
/* content1-2 */
#contents1 .contents1-2 {
    width: 28%;
    height: 300px;
    background: #000000b5 url(/images/content-bran3.jpg);
    background-size: cover;
    position: relative;
    background-position: center;

}


/* content1-3 */
#contents1 .contents1-3 {
    width: 44%;
    height: 300px;
    background: #0000009d url(/images/content-web1.jpg);
    background-size: cover;
    position: relative;
    /* background-position: center; */
}
#contents1 .contents1-3 .icon {
    margin-left: 75px;
}

/* contents2 */

#contents2 {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    display: flex;
    /* margin-top: 50px; */
}
#contents2 .conbox {
    width: 100%;
    height: 100%;
    background-color: #00000099;
    position: relative;
}
#contents2 .conbox:hover {
    background-color: #0000007d;
}
#contents2 .conbox p {
    margin-left: 30px;
    margin-top: 50px;
    color: #fff;
    display: inline-block;
}
#contents2 .conbox h3 {
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
    display: block;
    font-size: 23px;
}
#contents2 .icon {
    display: flex;
    position: absolute;
    left: 68%;
    top: 50%;
    transform: translateY(110px);

}
#contents2 .icon span {
    color: #fff;
}
#contents2 .icon img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: -6px;
}


#contents2 {
    width: 100%;
    background-color: #868686;
    display: flex;
}
/* contents2-1 */
#contents2 .contents2-1 {
    width: 44%;
    height: 300px;
    background: #0000009d url(/images/content-contest1.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
}
#contents2 .contents2-1 .icon {
    margin-left: 75px;
}

/* contents2-2 */
#contents2 .contents2-2 {
    width: 28%;
    height: 300px;
    background: #0000009d url(/images/content-ad2.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
}

/* contents2-3 */
#contents2 .contents2-3 {
    width: 28%;
    height: 300px;
    background: #0000009d url(/images/content-blog.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
}

/* gallery */
@keyframes slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#gallery {
    width: 100%;
    height: 250px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
#gallery .line {
    border: 3px solid #ff6363;
    width: 40px;
    margin: 0 auto;
    margin-top: 45px;
}
#gallery h3 {
    color: #000000;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -20%);
}
#gallery .skill1 {
    animation: 25s slider infinite linear;
    display: inline-block;
}
#gallery ul {
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    /* margin: 0 auto; */
}
#gallery li {
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-top: 90px;
    margin-left: 40px;
    margin-right: 40px;
    /* padding: 10ppx; */
}
#gallery li:nth-child(1) {
    background-image: url(/images/ps.png);
}
#gallery li:nth-child(2) {
    background-image: url(/images/ai.png);
}
#gallery li:nth-child(3) {
    background-image: url(/images/pr.png);
}
#gallery li:nth-child(4) {
    background-image: url(/images/id.png);
}
#gallery li:nth-child(5) {
    background-image: url(/images/htmlimg.png);
}
#gallery li:nth-child(6) {
    background-image: url(/images/cssimg.png);
}
#gallery li:nth-child(7) {
    background-image: url(/images/javaimg.png);
}
#gallery li:nth-child(8) {
    background-image: url(/images/jqimg.png);
}
#gallery li:nth-child(9) {
    background-image: url(/images/ps.png);
}
#gallery li:nth-child(10) {
    background-image: url(/images/ai.png);
}
#gallery li:nth-child(11) {
    background-image: url(/images/pr.png);
}
#gallery li:nth-child(12) {
    background-image: url(/images/id.png);
}
#gallery li:nth-child(13) {
    background-image: url(/images/htmlimg.png);
}
#gallery li:nth-child(14) {
    background-image: url(/images/cssimg.png);
}
#gallery li:nth-child(15) {
    background-image: url(/images/javaimg.png);
}
#gallery li:nth-child(16) {
    background-image: url(/images/jqimg.png);
}
#gallery li:nth-child(17) {
    background-image: url(/images/ps.png);
}
#gallery li:nth-child(18) {
    background-image: url(/images/ai.png);
}
#gallery li:nth-child(19) {
    background-image: url(/images/pr.png);
}
#gallery li:nth-child(20) {
    background-image: url(/images/id.png);
}
#gallery li:nth-child(21) {
    background-image: url(/images/htmlimg.png);
}
#gallery li:nth-child(22) {
    background-image: url(/images/cssimg.png);
}
#gallery li:nth-child(23) {
    background-image: url(/images/javaimg.png);
}
#gallery li:nth-child(24) {
    background-image: url(/images/jqimg.png);
}
#gallery li:hover  {
    transform: scale(1.2);
    transition: all 0.15s linear;
}

/* banner */
#banner {
    width: 100%;
    height: 750px;
    background-color: #f6f6f6;
    position: relative;
    background-image: url(/images/bannerbg.jpeg);
    background-position: center;
}
/* #banner .textbox {
    display: block;
    margin-top: 20px;
} */
#banner .textbox .line {
    border: 3px solid #ff6363;
    width: 40px;
    margin: 0 auto;
    margin-top: 45px;
}
#banner .textbox h3 {
    color: #000000;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -20%);
}
#banner .imgbox {
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    margin-top: 90px;
}
/* weblink1 */
#banner .imgbox .weblink1 {
    width: 320px;
    height: 420px;
    background-color: #ff8b8b;
    margin-right: 30px;
    background-image: url(/images/weblink1.jpg);
    background-size: cover;
    background-position: center;
}
#banner .imgbox .textbox{
    width: 290px;
    height: 250px;
    background-color: #ffffff;
    margin-top: 300px;
}
#banner .imgbox .textbox span {
    color: #ff5757;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}
#banner .imgbox .textbox h2 {
    display: block;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 26px;
    letter-spacing: -2px;
}
#banner .imgbox .textbox .text1 {
    font-size: 12px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 8px;
    font-weight: 500;
}
#banner .imgbox .textbox .text2 {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 8px;
    font-weight: 500;

}
#banner .imgbox .icon1 {
    display: flex;
}
#banner .imgbox .icon1 img {
    width: 18px;
    height: 18px;
    margin-left: 20px;
    margin-top: 30px;
}
#banner .imgbox .icon1 p {
    margin-top: 31px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}
#banner .imgbox .icon2 {
    display: flex;
}
#banner .imgbox .icon2 img {
    width: 18px;
    height: 18px;
    margin-left: 20px;
    margin-top: 10px;
}
#banner .imgbox .icon2 p {
    margin-top: 11px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}
#banner .imgbox .textbox .link {
    margin-left: 220px;
    margin-top: -17px;
    font-size: 13px;
    color: #ff5757;
}

/* weblink2 */
#banner .imgbox .weblink2 {
    width: 320px;
    height: 420px;
    background-color: #994040;
    margin-right: 30px;
    background-image: url(/images/weblink2.jpg);
    background-size: cover;
    background-position: center;
}


/* weblink3 */
#banner .imgbox .weblink3 {
    width: 320px;
    height: 420px;
    background-color: #410606;
    margin-right: 30px;
    background-image: url(/images/weblink3.jpg);
    background-size: cover;
    background-position: center;
}

/* weblink3 */

/* weblink4 */
#banner .imgbox .weblink4 {
    width: 320px;
    height: 420px;
    background-color: #be8a8a;
    background-image: url(/images/weblink4.jpg);
    background-size: cover;
    background-position: center;
}

/* weblink4 */

/* footer */
#footer {
    width: 100%;
    height: 250px;
    background-color: #481a1a;
}
#footer .name {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
#footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    /* margin: 0 auto; */
}
#footer li img{
    width: 45px;
    height: 45px;
    /* background-size: cover; */
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
#footer .footext {
    display: block;
    text-align: center;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 45px;
    font-size: 12px;
    color: #808080;
}

 /* popup-p1 */
 .popupbg1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
    overflow-y: scroll;
}

.popupbg1 .popupwrap {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 1000;
    overflow-y: scroll;
    top: 10%;
    bottom: 10%;
    display: block;
}

.popupwrap::-webkit-scrollbar {
    display: none;
}
.popupbg1 .popupwrap .mainimg {
    position: absolute;
    padding-top: 80px;
    margin: 0 auto;
    background-size: cover;

}

.popupbg1 .popupwrap .popupline {
    position: absolute;
    border: 1.5px solid #f33d43;
    top: 45px;
    left: 25px;
    width: 1135px;
    margin: auto;

}
.popupbg1 .popupwrap .popup-d1 {
    position: absolute;
    background-color: #ffffff;
    width: 1200px;
    height: 4250px;

}

.popupbg1 .popupwrap .popup-d1 .popup-top h1 {
    position: absolute;
    top: 15px;
    left: 60px;
    font-size: 15px;
}

.popupbg1 .popupwrap .popup-d1 .popup-top img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 20px;
}

.popupbg1 .popupwrap .popup-closed1 {
    position: absolute;
    background-color: #f33d43;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    color: #fff;

}


 /* popup-p2 */
 .popupbg2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
    overflow-y: scroll;
}

.popupbg2 .popupwrap {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 1000;
    overflow-y: scroll;
    top: 10%;
    bottom: 10%;
    display: block;
}

.popupwrap::-webkit-scrollbar {
    display: none;
}
.popupbg2 .popupwrap .mainimg {
    position: absolute;
    padding-top: 80px;
    margin: 0 auto;
    background-size: cover;

}

.popupbg2 .popupwrap .popupline {
    position: absolute;
    border: 1.5px solid #f33d43;
    top: 45px;
    left: 25px;
    width: 1135px;
    margin: auto;

}
.popupbg2 .popupwrap .popup-d2 {
    position: absolute;
    background-color: #ffffff;
    width: 1200px;
    height: 2300px;

}

.popupbg2 .popupwrap .popup-d2 .popup-top h1 {
    position: absolute;
    top: 15px;
    left: 60px;
    font-size: 15px;
}

.popupbg2 .popupwrap .popup-d2 .popup-top img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 20px;
}

.popupbg2 .popupwrap .popup-closed2 {
    position: absolute;
    background-color: #f33d43;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    color: #fff;

}

 /* popup-p3 */
 .popupbg3 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
    overflow-y: scroll;
}

.popupbg3 .popupwrap {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 1000;
    overflow-y: scroll;
    top: 10%;
    bottom: 10%;
    display: block;
}

.popupwrap::-webkit-scrollbar {
    display: none;
}
.popupbg3 .popupwrap .mainimg {
    position: absolute;
    padding-top: 80px;
    margin: 0 auto;
    background-size: cover;

}

.popupbg3 .popupwrap .popupline {
    position: absolute;
    border: 1.5px solid #f33d43;
    top: 45px;
    left: 25px;
    width: 1135px;
    margin: auto;

}
.popupbg3 .popupwrap .popup-d3 {
    position: absolute;
    background-color: #ffffff;
    width: 1200px;
    height: 3150px;

}

.popupbg3 .popupwrap .popup-d3 .popup-top h1 {
    position: absolute;
    top: 15px;
    left: 60px;
    font-size: 15px;
}

.popupbg3 .popupwrap .popup-d3 .popup-top img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 20px;
}

.popupbg3 .popupwrap .popup-closed3 {
    position: absolute;
    background-color: #f33d43;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    color: #fff;

}

 /* popup-p4 */
 .popupbg4 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
    overflow-y: scroll;
}

.popupbg4 .popupwrap {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 1000;
    overflow-y: scroll;
    top: 10%;
    bottom: 10%;
    display: block;
}

.popupwrap::-webkit-scrollbar {
    display: none;
}
.popupbg4 .popupwrap .mainimg {
    position: absolute;
    padding-top: 80px;
    margin: 0 auto;
    background-size: cover;

}

.popupbg4 .popupwrap .popupline {
    position: absolute;
    border: 1.5px solid #f33d43;
    top: 45px;
    left: 25px;
    width: 1135px;
    margin: auto;

}
.popupbg4 .popupwrap .popup-d4 {
    position: absolute;
    background-color: #ffffff;
    width: 1200px;
    height: 4240px;

}

.popupbg4 .popupwrap .popup-d4 .popup-top h1 {
    position: absolute;
    top: 15px;
    left: 60px;
    font-size: 15px;
}

.popupbg4 .popupwrap .popup-d4 .popup-top img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 20px;
}

.popupbg4 .popupwrap .popup-closed4 {
    position: absolute;
    background-color: #f33d43;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    color: #fff;

}

 /* popup-p5 */
 .popupbg5 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
    overflow-y: scroll;
}

.popupbg5 .popupwrap {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 1000;
    overflow-y: scroll;
    top: 10%;
    bottom: 10%;
    display: block;
}

.popupwrap::-webkit-scrollbar {
    display: none;
}
.popupbg5 .popupwrap .mainimg {
    position: absolute;
    padding-top: 80px;
    margin: 0 auto;
    background-size: cover;

}

.popupbg5 .popupwrap .popupline {
    position: absolute;
    border: 1.5px solid #f33d43;
    top: 45px;
    left: 25px;
    width: 1135px;
    margin: auto;

}
.popupbg5 .popupwrap .popup-d5 {
    position: absolute;
    background-color: #ffffff;
    width: 1200px;
    height: 2850px;

}

.popupbg5 .popupwrap .popup-d5 .popup-top h1 {
    position: absolute;
    top: 15px;
    left: 60px;
    font-size: 15px;
}

.popupbg5 .popupwrap .popup-d5 .popup-top img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 20px;
}

.popupbg5 .popupwrap .popup-closed5 {
    position: absolute;
    background-color: #f33d43;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    color: #fff;

}

 /* popup-p6 */
 .popupbg6 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
    overflow-y: scroll;
}

.popupbg6 .popupwrap {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 1000;
    overflow-y: scroll;
    top: 10%;
    bottom: 10%;
    display: block;
}

.popupwrap::-webkit-scrollbar {
    display: none;
}
.popupbg6 .popupwrap .mainimg {
    position: absolute;
    padding-top: 80px;
    margin: 0 auto;
    background-size: cover;

}

.popupbg6 .popupwrap .popupline {
    position: absolute;
    border: 1.5px solid #f33d43;
    top: 45px;
    left: 25px;
    width: 1135px;
    margin: auto;

}
.popupbg6 .popupwrap .popup-d6 {
    position: absolute;
    background-color: #ffffff;
    width: 1200px;
    height: 4100px;

}

.popupbg6 .popupwrap .popup-d6 .popup-top h1 {
    position: absolute;
    top: 15px;
    left: 60px;
    font-size: 15px;
}

.popupbg6 .popupwrap .popup-d6 .popup-top img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 20px;
}

.popupbg6 .popupwrap .popup-closed6 {
    position: absolute;
    background-color: #f33d43;
    bottom: -35px;
    left: 55%;
    transform: translateX(-55%);
    padding: 10px 30px;
    color: #fff;

}
.popupbg6 .popupwrap .popup-view {
    position: absolute;
    background-color: #f33d43;
    color: #fff;
    bottom: -35px;
    left: 45%;
    transform: translateX(-45%);
    padding: 10px 30px;
}

 /* popup-p7 */
 .popupbg7 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
    overflow-y: scroll;
}

.popupbg7 .popupwrap {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 1000;
    overflow-y: scroll;
    top: 10%;
    bottom: 10%;
    display: block;
}

.popupwrap::-webkit-scrollbar {
    display: none;
}
.popupbg7 .popupwrap .mainimg {
    position: absolute;
    padding-top: 80px;
    margin: 0 auto;
    background-size: cover;

}

.popupbg7 .popupwrap .popupline {
    position: absolute;
    border: 1.5px solid #f33d43;
    top: 45px;
    left: 25px;
    width: 1135px;
    margin: auto;

}
.popupbg7 .popupwrap .popup-d7 {
    position: absolute;
    background-color: #ffffff;
    width: 1200px;
    height: 6500px;

}

.popupbg7 .popupwrap .popup-d7 .popup-top h1 {
    position: absolute;
    top: 15px;
    left: 60px;
    font-size: 15px;
}

.popupbg7 .popupwrap .popup-d7 .popup-top img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 20px;
}

.popupbg7 .popupwrap .popup-closed7 {
    position: absolute;
    background-color: #f33d43;
    bottom: -35px;
    left: 55%;
    transform: translateX(-55%);
    padding: 10px 30px;
    color: #fff;

}
.popupbg7 .popupwrap .popup-view {
    position: absolute;
    background-color: #f33d43;
    color: #fff;
    bottom: -35px;
    left: 45%;
    transform: translateX(-45%);
    padding: 10px 30px;
}



 /* popup-p8 */
 .popupbg8 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
    overflow-y: scroll;
}

.popupbg8 .popupwrap {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 1000;
    overflow-y: scroll;
    top: 10%;
    bottom: 10%;
    display: block;
}

.popupwrap::-webkit-scrollbar {
    display: none;
}
.popupbg8 .popupwrap .mainimg {
    position: absolute;
    padding-top: 80px;
    margin: 0 auto;
    background-size: cover;

}

.popupbg8 .popupwrap .popupline {
    position: absolute;
    border: 1.5px solid #f33d43;
    top: 45px;
    left: 25px;
    width: 1135px;
    margin: auto;

}
.popupbg8 .popupwrap .popup-d8 {
    position: absolute;
    background-color: #ffffff;
    width: 1200px;
    height: 3550px;

}

.popupbg8 .popupwrap .popup-d8 .popup-top h1 {
    position: absolute;
    top: 15px;
    left: 60px;
    font-size: 15px;
}

.popupbg8 .popupwrap .popup-d8 .popup-top img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 20px;
}

.popupbg8 .popupwrap .popup-closed8 {
    position: absolute;
    background-color: #f33d43;
    bottom: -35px;
    left: 60%;
    transform: translateX(-60%);
    padding: 10px 30px;
    color: #fff;

}
.popupbg8 .popupwrap .popup-view {
    position: absolute;
    background-color: #f33d43;
    color: #fff;
    bottom: -35px;
    left: 40%;
    transform: translateX(-40%);
    padding: 10px 30px;
}
.popupbg8 .popupwrap .popup-wadiz {
    position: absolute;
    background-color: #f33d43;
    color: #fff;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
}

 /* popup-p9 */

 .popupbg9 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
    overflow-y: scroll;
}

.popupbg9 .popupwrap {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 1000;
    overflow-y: scroll;
    top: 10%;
    bottom: 10%;
    display: block;
}

.popupwrap::-webkit-scrollbar {
    display: none;
}
.popupbg9 .popupwrap .mainimg {
    position: absolute;
    padding-top: 80px;
    margin: 0 auto;
    background-size: cover;

}

.popupbg9 .popupwrap .popupline {
    position: absolute;
    border: 1.5px solid #f33d43;
    top: 45px;
    left: 25px;
    width: 1135px;
    margin: auto;

}
.popupbg9 .popupwrap .popup-d9 {
    position: absolute;
    background-color: #ffffff;
    width: 1200px;
    height: 4550px;

}

.popupbg9 .popupwrap .popup-d9 .popup-top h1 {
    position: absolute;
    top: 15px;
    left: 60px;
    font-size: 15px;
}

.popupbg9 .popupwrap .popup-d9 .popup-top img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 20px;
}

.popupbg9 .popupwrap .popup-closed9 {
    position: absolute;
    background-color: #f33d43;
    bottom: -35px;
    left: 55%;
    transform: translateX(-55%);
    padding: 10px 30px;
    color: #fff;

}
.popupbg9 .popupwrap .popup-view {
    position: absolute;
    background-color: #f33d43;
    color: #fff;
    bottom: -35px;
    left: 45%;
    transform: translateX(-45%);
    padding: 10px 30px;
}
